


.low {
    margin-bottom: 10%;
}

/* for mobiles */
@media(max-width: 560px) {

    .desktop-navigation {
    margin-left: 5%;
    margin-right: 5%;
}

.low {
    margin-bottom: 20% !important;
}


}

/* for desktop screens */
@media(min-width: 561px) {
.broad_desktop {
padding-left: 25%;
padding-right: 25%;
}

.desktop-navigation {
    margin-left: 25%;
    margin-right: 25%;
}
}

@media(min-width: 920px) {
.broad_desktop {
padding-left: 25%;
padding-right: 25%;
}

.desktop-navigation {
    margin-left: 30%;
    margin-right: 30%;
}

}
@media(min-width: 1100px) {
.broad_desktop {
padding-left: 36%;
padding-right: 36%;
}

.desktop-navigation {
    width: 100%;
    margin-left: 35%;
    margin-right: 35%;
}


}










/* App styles */


.wide {
    line-height: 12px;
    letter-spacing: 10%;
}

.bottom_shadow {
    border-bottom: 1px solid #D2D4D3;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* grid-column-gap: auto; */

    /* padding-left: 15px;
    padding-right: 15px;
    background-color: #F3F4F4; */
}

.mttauto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  margin-top: 29px;
}

.topleftrounded {
border-top-left-radius: 8px;
}

.toprightrounded {
    border-top-right-radius: 8px;
}


.bottomleftrounded {
    border-bottom-left-radius: 8px;
    }
    
    .bottomrightrounded {
        border-bottom-right-radius: 8px;
    }

.couseimage {
    min-width: 71px;
    min-height: 71px;
}

/* profile */
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 15px;
    margin-bottom: 20px;
}

/* subscribe button */
.subscribe {
font-size: 12px;
font-weight: bold;
background-color: #2B3330;
color: #F3F4F4;
letter-spacing: 10%;
line-height: 16px;
text-transform: uppercase;
padding: 8px 16px;
border-radius: 4px;
/* margin-top: 10px; */

}


/* page */

.page_h1 {
    font-size: 24px;
    /* font-weight: bold; */
    letter-spacing: -2%;
}

.left_green_border {
    border-left: 4px solid #208357;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}



/* VIdeo player */
.my-video {
    width: 100%;
    max-height: 100vh;
}


.video-js .vjs-control-bar {
  display: block;
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.0em;
/* 
  @include background-color-with-alpha($primary-background-color, $primary-background-transparency); */
}

.video-js .vjs-audio-button {
    color: yellow;
}


.imgVideo {
    display: block;
    position: relative;
}

.playIcon {
 display: block;
width: 30%; /* это наверное уже у тебя в js будет вычисляться */
position: absolute;
top: 22%; left: 40%; 
}

.main-video {
    display: block;
    position: relative;
}
